.between{
    position: fixed;
    list-style: 20px;
    background-color: rgb(117, 20, 20); 
    height: 140px;
    opacity: 0.8;
}
.between>ul>li{
    display: inline-block;
    position:relative ;
}
.between>ul>li>a{
    text-decoration:none ;
    font-size:larger ;
    color:rgb(255, 255, 255) ;
    padding:0px 10px;
    line-height: 40px;
    display: block;
}

    .between>ul>li>a:hover{
        background-color: rgb(117, 20, 20);
    }

#signin{
    position: absolute;
    right: 0px; 
    border-bottom-left-radius: 150px;
    background-color:rgb(117, 20, 20); 
    font-size: 20px;
    line-height: 180%;
    padding: 0 10px 0 30px;
    text-decoration: none;
    display: inline-block;
}

header{
    background-image: url(../hinhasm/111.jpg);
    background-size:100% 175%; 
    height:5%;
    padding-bottom:13%; 
    
}

aside{
    min-height:600px; 
    width:25%; 

    float:right; 
    }


     
    .between ul {
        float: left;
        
    }
     
    .between ul li {
        position: relative;
        float: left;
        margin: 0px;
    }
     
    .between li a {
        display: block;
        color: rgb(255, 255, 255)    ;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase; 
        padding: 10px 15px;
    }
     
     
    .between li ul{
        background: rgb(117, 20, 20);
        position: absolute;
        display: none;
        width: 200px;
    }
    .between li ul a:hover{
        color: rgb(161, 161, 161);
        text-decoration:none ;
        padding:0px 10px;
        line-height: 40px;
        display: block;
    }
     
    .between li:hover ul{
        display: block;
    }
     
     
    .between li:hover > a{
        background-color: rgb(117, 20, 20);
    }

    #signin a{
        text-decoration-line: none;
        color: white;
        box-shadow: 0px 0px 5px white;
    }

    aside{
        min-height:600px; 
        width:25%; 
    
        float:right; 
        }

        footer{
            border-top: 50px;
            background-color: grey;
            text-align: center;
            clear: both;
        }

        article{
            min-height: 800px;
            width: 75%;
            float: left;
            color: white;
        }

#tieude{
    background-color: brown;
    text-align: center;
}

tr{
    background-color: rgb(65, 245, 215);
    text-align: center;
    color: black;
    height: 50px;
}

#tieude2{
    background-color: rgb(22, 133, 133);
}

#tieude1{
    background-color: rgb(22, 133, 133);
}

#thieude{
    background-color: rgb(126, 70, 70);
}

#xuonghang{
    background-color: red;
}